@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.section-1 {
    min-height: 100vh;
    padding-top: 15px;
    padding-bottom: 20px;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.bg-img {
    background-image: url(../images/main\ pic.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: auto;
}

.bg-img::after {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url(../images/black\ layer.png);
}

.container {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}


.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

nav {
    width: 100%;
}

.Events {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: #2C49FE;
}

.Free {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: #01C8FF;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-align: left;
    color: white;
    margin-top: 43px;
}

.para-1 {
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: left;
    max-width: 765px;
    padding-top: 18px;
}

.d-flex {
    display: flex;
}

.gap-60 {
    gap: 60px;
}

.space-even {
    justify-content: space-evenly;
}

.space-btw {
    justify-content: space-between;
}

.justi-cont-even {
    justify-content: space-evenly;
}

.align-item {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.logout {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0em;
    text-align: left;
    background: #2C49FE;
    padding: 11px 28px 11px 28px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    transition: 0.3s;
}

.logout:hover {
    background: white;
    color: #2C49FE;
}

.nav-fonts {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.underlineEffect {
    position: relative;
}

nav {
    position: relative;
    z-index: 3;
}

.underlineEffect::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-color: blue;
    bottom: -5px;
    left: 0;
}

.underlineEffect::before {
    position: absolute;
    content: "";
    width: 20%;
    height: 6px;
    background-color: skyblue;
    bottom: -5px;
    right: 0;
    z-index: 2;
}

.get-started {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0em;
    text-align: left;
    background: #2C49FE;
    padding: 11px 28px 11px 28px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    transition: 0.3s;
}

.get-started:hover {
    background: white;
    color: #2C49FE;
}

.learn-more {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.flex-grow {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.mt-b-15-58 {
    margin-top: 15px;
    margin-bottom: 58px;
}

.rectangle-box {
    background: #2C49FEBD;
    padding: 17px;
    max-width: 962px;
    width: 100%;
    align-items: center;
    border-radius: 150px;
    position: relative;
    border-width: 0px, 0px, 0px, 0px;

}

.rectangle-font-1 {
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.rectangle-font-2 {
    font-family: 'Yantramanav', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.gap-60 {
    gap: 60px;
}

.mb-170 {
    margin-bottom: 170px;
}

.position-relative {
    position: relative;
}

.gap-21 {
    gap: 21px;
}

.z-index {
    z-index: 1;
}

.pt-b-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.pl-40 {
    padding-left: 55px;
}

.px-y-28-56 {
    padding: 28px 56px;
}

.border-left {
    border-left: 2px solid white;
}


.border-right-1 {
    border-right: 3px solid white;
}

.border-right-2 {
    border-right: 3px solid white;
}

.p-15 {
    padding: 15px;
}

.gap-16 {
    gap: 16px;
}

.d-flex {
    display: flex;
}

.justi-cont-cent {
    justify-content: center;
}

.justi-cont-beet {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.flex-direx-col {
    flex-direction: column;
}

.flex-direx-row {
    flex-direction: row;
}

.gocheck {
    padding: 20px 40px;
    background-color: #ffffff;
    color: #2C49FE;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    border-radius: 150px;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.gocheck:hover {
    background: #2C49FE;
    color: white;
}

.border {
    border: 4px solid;
    padding-top: 17px;
    padding-bottom: 17px;
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding-right: 23px;
}

.z-index {
    z-index: 1;
}

.section-2img {
    width: 100%;
    height: 100%;
}

.posi-rel {
    position: relative;
}

.icon-1 {
    position: absolute;
    top: 47%;
    left: 43%;
    transform: translateY(-50%);
    cursor: pointer;
}

.underlineEffect-1 {
    max-width: 165px;
    position: relative;
    top: 10px;
}


.underlineEffect-1::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-color: blue;
    bottom: -5px;
    left: 0;
}

.underlineEffect-1::before {
    position: absolute;
    content: "";
    width: 20%;
    height: 6px;
    background-color: skyblue;
    bottom: -5px;
    right: 0;
    z-index: 2;
}

.sec-2-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.mt-12 {
    margin-top: 12px;
}

.mb-42 {
    margin-bottom: 42px;
}

.mt-40 {
    margin-top: 40px;
}

.pt-37 {
    padding-top: 37px;
}

.mt-50 {
    margin-top: 50px;
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.sec-2-para {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000B2;
}

.box {
    border: 1px solid #2C49FE;
    border-radius: 5px;
    transition: 0.3s;
}

.box:hover {
    background-color: #2C49FE;
}

.box:hover .box-heading {
    color: white;
}

.box:hover .box-para {
    color: white;
}

.circle {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    border: 2px solid blue;
    position: relative;
    bottom: 38px;
    background-color: white;
}

.box-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #2C49FE;
    position: relative;
    bottom: 21px;
}

.box-para {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 220px;
    text-align: center;
    color: #2D3CAE;
    position: relative;
    bottom: 20px;
}